body {
    display: grid;
    grid-template-columns: minmax(300px,auto) 1fr;
    grid-template-areas: "navbar mainContent";
    
}

#navbar {
    grid-area: navbar;
    position: fixed;
}

#navbar a {
    display: block;
    border: 1px solid black;
    padding: 5px;
    margin: 10px 0;
    text-decoration: none;
    color: black;
}

#main-doc{
    grid-area: mainContent;
}

header {
    font-size: 1.5em;
    font-weight: bold;
}

code {
    background-color: cadetblue;
    display: block;
    padding: 20px;
}

@media screen and (max-width: 750px) {
    body{
        grid-template-columns: 1fr;
        grid-template-areas: "navbar" "mainContent";
    }
}
#navbar{
    position: inherit;
}